body {
  margin: 0;
  padding: 0;
  font-family: "Merriweather", serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.logo {
  color: #d0ebe8;
  font-size: 100px;
  text-align: center;
  margin-top: 1em;
}

.homeinfo {
  font-size: 20px;
  max-width: 800px;
  text-align: center;
  margin-top: 4em;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
}

.maketablebutton {
  max-width: 400px;
  margin-top: 3em;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
}

h2 {
  text-align: center;
  color: #d0ebe8;
}

.jumbotron {
  border-color: #bcc8d2;
  background: rgb(188, 200, 210);
  background: rgba(188, 200, 210, 0.6);
  color: #d0ebe8;
  max-width: 600px;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
}

.Collapsible {
  background: rgb(174, 118, 108);
  background: rgba(174, 118, 108, 0.6);
  color: #d0ebe8;
  border-radius: 20px;
  max-width: 600px;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
}

.FilterList {
  margin-top: 2em;
}
